<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">  
<title></title>
<link rel="shortcut icon" href="" />
<link rel="stylesheet" href="@@dots__js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="@@dots__js/fancybox/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" href="@@dots__css/main.css"/>

